#!/usr/bin/env bash

font_dir="$HOME/.local/share/fonts"
font_url="https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Meslo/L/Regular/MesloLGLNerdFontMono-Regular.ttf"

if ! fc-list | grep -q Meslo &> /dev/null; then
  mkdir -p "$font_dir"
  wget "$font_url" -P "$font_dir" >> log.txt 2> >(tee -a log.txt >&2)
  fc-cache -v >> log.txt 2> >(tee -a log.txt >&2)
fi
