#!/usr/bin/fish

echo -e "\033[0;32m>>>>>> Begin Setting Up Fish shell <<<<<<\033[0m"

# Configure fish/plugins/prompt
if ! type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher >> log.txt 2> >(tee -a log.txt >&2)
end

# Run script on hash change of .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "private_dot_config/private_fish/fish_plugins.tmpl" | sha256sum }}

fisher update >> log.txt 2> >(tee -a log.txt >&2)

echo -e "\033[0;32m>>>>>> Finish Setting Up Fish Shell <<<<<<\033[0m"

