#!/usr/bin/fish

tput setaf 5; tput bold; echo ">>>>>> Begin Setting Up Fish shell <<<<<<"

# Configure fish/plugins/prompt
if ! type -q fisher
  tput setaf 4; echo "....downloading and installing fisher"
  curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher 
end

# Run script on hash change of .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "private_dot_config/private_fish/fish_plugins.tmpl" | sha256sum }}

tput setaf 4; echo "....updating fisher plugins"
fisher update

tput setaf 5; tput bold; echo "<<<<<< Finish Setting Up Fish Shell >>>>>>"

