#!/usr/bin/env bash

tput setaf 5; tput bold; echo ">>>>>> Test Package Installation <<<<<<"

packages=(
  kitty
  tmux
  neofetch
  aqua
  chezmoi
  rg
  fd
  nvim
  eza
  btop
  bat
  dust
  duf
  zellij
  atuin
  tealdeer
)

for package in ${packages[@]}; do
  if fish -c "! command -v $package &> /dev/null"; then
    tput setaf 1; tput bold; echo "!!!! Package Missing: $package !!!!"
  fi
done

# remove chezmoi from ~/.local/bin as it now resides in aqua bin folder
tput setaf 4; echo "....removing chezmoi bin from ~/.local/bin"
rm -f $HOME/.local/bin/chezmoi

tput setaf 5; tput bold; echo "<<<<<< Finish Testing Package Installation >>>>>>"
