#!/usr/bin/env bash


# Assume chezmoi is already installed
# after 
#   atuin login bpillatsch (will need atuin key)
#   atuin import auto
#   atuin sync

function install_atuin {
  if ! command -v atuin &> /dev/null
  then
    bash <(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)
  fi
 
  # condiser adding bash completions 
  if ! test -f $HOME/.config/fish/completions/atuin.fish
  then
    atuin gen-completions --shell fish --out-dir $HOME
  fi
}

function install_fish {
  if ! command -v fish &> /dev/null
  then
    sudo apt-add-repository ppa:fish-shell/release-3
    sudo apt update
    sudo apt install -y fish
  fi

  if ! test -f $HOME/.config/fish/functions/fisher.fish
  then
    fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"
  fi

  if ! test -f $HOME/.config/fish/functions/bass.fish
  then
    fish -c "fisher install edc/bass"
  fi

  if ! test -f $HOME/.config/fish/functions/man.fish
  then
    fish -c "fisher install decors/fish-colored-man"
  fi

  if ! test -f $HOME/.config/fish/completions/docker-compose.fish
  then
    fish -c "fisher install brgmnn/fish-docker-compose"
  fi
}

function install_eza {
  if ! command -v eza &> /dev/null
  then
    sudo mkdir -p /etc/apt/keyrings
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
    echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
    sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
    sudo apt update
    sudo apt install -y eza
  fi
}

function install_bat {
  if ! command -v batcat &> /dev/null
  then
    sudo apt install -y bat
  fi
}

function install_nala {
  if ! command -v nala &> /dev/null
  then
    sudo apt install -y nala
  fi
}

function install_neofetch {
  if ! command -v neofetch &> /dev/null
  then
    sudo apt install -y neofetch
  fi
}

function install_ripgrep {
  if ! command -v rg &> /dev/null
  then
    sudo apt install -y ripgrep
  fi
}

function install_deb-get {
  if ! command -v deb-get &> /dev/null
  then
    sudo apt install -y curl lsb-release wget
    curl -sL https://raw.githubusercontent.com/wimpysworld/deb-get/main/deb-get | sudo -E bash -s install deb-get
  fi
}

function install_du-dust {
  if ! command -v dust &> /dev/null
  then
    sudo deb-get install -y du-dust
  fi
}

function install_btop {
  if ! command -v btop &> /dev/null
  then
    sudo apt install -y btop
  fi
}

function install_fd {
  if ! command -v fdfind &> /dev/null
  then
    sudo apt install -y fd-find
  fi
}

function install_pinfo {
  if ! command -v pinfo &> /dev/null
  then
    sudo apt install -y pinfo
  fi
}

function install_duf {
  if ! command -v duf &> /dev/null
  then
    sudo apt install -y duf
  fi
}

function install_tealdeer {
  if ! command -v tldr &> /dev/null
  then
    curl -sL -o $HOME/bin/tldr https://github.com/dbrgn/tealdeer/releases/download/v1.6.1/tealdeer-linux-x86_64-musl
    chmod +x $HOME/bin/tldr
    $HOME/bin/tldr -u
  fi

  # Consider adding bash completions
  if ! test -f $HOME/.config/fish/completions/tldr.fish
  then
    curl -sL -o $HOME/.config/fish/completions/tldr.fish https://github.com/dbrgn/tealdeer/releases/download/v1.6.1/completions_fish
  fi
}

install_fish
install_atuin
install_eza
install_bat
install_nala
install_neofetch
install_ripgrep
install_deb-get
install_du-dust
install_btop
install_fd
install_pinfo
install_duf
install_tealdeer
