# git
if type -q git
  abbr g 'git'
  abbr ga 'git add .'
  abbr gaa 'git add --all'
  abbr gc 'git commit'
  abbr gcm 'git commit -m'
  abbr gs 'git status'
  abbr gp 'git push'
  abbr gpl 'git pull'
  abbr gl 'git log'
  abbr gd 'git diff'
  abbr gds 'git diff --staged'
  abbr gr 'git restore .'
  abbr grs 'git restore --staged .'
end

# apt
if type -q apt
  abbr apti 'sudo nala install'
  abbr aptr 'sudo nala remove'
  abbr aptu 'sudo nala update'
  abbr aptug 'sudo nala udate && sudo nala upgrade'
end

# nvim
if type -q nvim
  abbr vi 'nvim'
  abbr vim 'nvim'
  abbr svi 'sudo nvim'
  abbr svim 'sudo nvim'
end

# chezmoi
if type -q chezmoi
  abbr c 'chezmoi'
  abbr ca 'chezmoi apply'
  abbr cu 'chezmoi update'
  abbr ce 'chezmoi edit'
  abbr cs 'chezmoi status'
  abbr cc 'chezmoi cd'
end

# thefuck
if type -q thefuck
  abbr fu 'fuck'
end

# eza
if type -q eza
  abbr lsa 'eza -lag --git --icons --sort=type'
  abbr l 'eza -lag --git --icons --sort=type'
  abbr ll 'eza -lh --icons --git --sort=type'
  abbr la 'eza -lag --git --icons --sort=type'
end
